# Shared identity required by the project
TEAM_ID=team07
CHALLENGE_CODE=cloud07
TEAM_MEMBERS=albayrakk,atilgano,oncut

# Must be stage1, stage2, or stage3 depending on deployment
STAGE=stage1

# AWS
AWS_REGION=us-east-1
DYNAMODB_GRADES_TABLE=GradeRelease-Grades-team07
DYNAMODB_COURSES_TABLE=GradeRelease-Courses-team07
DYNAMODB_IDEMPOTENCY_TABLE=GradeRelease-Idempotency-team07
SNS_TOPIC_ARN=
